[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-caching = "*"
requests = "*"
redis = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-marshmallow = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.10"
